/*INIT ALL BOXES*/
*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App,#root{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

/*CONTAINER FOR THE ALBUMS, ARTISTS, TRACKS,...*/
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: #121212;
}

/*BASIC STYLE FOR THE CARDS*/
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #181818;
  margin: 20px;
  width:20%;
  padding: 15px;
  border-radius: 20px;
}


/*USED FOR THE ACTIVE LINKS, THE NAME OF THE ALBUMS, THE TITLE */
.active{
  color: #f0f0f0;
  font-weight: 600;
}

/*ALL OF THE OTHERS TEXT*/
.inactive{
  color: #555555;
  font-weight: 400;
}

/*COLOR OF THE HOVER CARDS*/
.card:hover{
  background-color: #282828;
  cursor: pointer;
}

/*BACKCOLOR OF THE HEADER SECTION (INCLUDING NAVBAR)*/
.header{
  background-color: #000000;
  width: 25%;
  height: 100vh;
  position: fixed;
  left: 0;
  padding: 10px;
}

ul,li{
  list-style: none;
  text-decoration: none;
  vertical-align: center;
}

ul{
  padding: 20px;
}

li{
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

li:hover{
  background-color: #282828 ;
}

span{
  margin-right: 15px;
}

h1{
  width: 100%;
  text-align: center;
  margin-left: 25%;
}

.album-id{
  font-weight: 600;
}

body{
  background-color: #000000;
}

/*NAVBAR BORDER BOTTOM COLOR*/
.nav{
  border-bottom: #282828;
}